*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* Dimensioni e sfondo blocchi */
.blocco{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.primo{
    background-color: red;
}

.secondo{
    background-color: green;
}

.terzo{
    background-color: yellow;
}

/* Dimensioni contenuto blocchi */
.contenuto{
    width: 40%;
}
.contenuto .prodotto img{
    width: 100%;
}

/* Testo prodotto  */
.testo{
    text-transform:uppercase;
    text-align: center;
}

.titolo1,
.titolo2{
    color: yellow;
}

.titolo3{
    color: green;
}

/* Posizionamento contenuto */
.contenuto{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}